body{background-color: black;}

// for 1st page

  		ul {
  			list-style-type: none;
 			overflow: hidden;
 		   }

		li {
				  float: right;
		   }

        li a{
				 display: block;
 				 color: white;
 				 text-align: center;
 				 padding: 14px 16px;
 				 text-decoration: none;
			}
	.page-1{
			background-image: 	url("background-2.jpg");
			background-size: cover;
			text-align: center;
			padding-top: 0px;
		   }


    #front-page
		{
		padding-top: 150px;
 		color :red;
 		text-align: center; 
 		}
	.new-tattoo
		{
			font-size:30px;
	 		align-items: center;
		}
	.berger
		{
			font-size:45px;
			align-items: center;
		}
	.tattoo-saloon{
			font-size:30px;
			align-items: center;
		}

	#footer
		{
			padding-top: 20px;
			border-color:rgb(0.1,0,1);
			color:white;
			text-align: center;
			font-weight: bold;
			 border: 1px solid #000000
 		}

	#content
		{
	  		color:white;
			font-size: 16px;
	 		font-family: "Arial", cursive, sans-serif;
		}
	#click-here-button
		{
	
			background-color: red;
			border-color:red;
			height: 40px;
		    width:200px;
			color:white;
		}

	.first-page-footer
		{
			display: flex;
			text-align: center;
			color:white;
		}
	.footer
		{
			flex:1;
		}
	#content
		{
			color:white;
			font-size: 16px;
			 font-family: "Arial", cursive, sans-serif;
			margin:4% 5% 2% 10%;
		}


//for page 2nd
			h5{
				margin-left: 75px;
				color:red;
			}




			.page-2{
				display: flex;
				justify-content: space-around;
			background-size:cover;
			text-align: center;

			}
			.child2
			{
				color:red;
				align-self: center;
				background-color: transparent;
				border:1px solid #000000;
				text-align: left

			}
			.child1{
				position: relative;
				
			}
			#button2
			{
				background-color: red;
				color:white;
				width:200px;
				height:50px;
			}



#h3
{ font-size:300%;
	color:white;
}
#data
{
	padding-top:80px;
}



#page-3
{
	margin-top: 30px;
	text-align: center;
}
.container-parent
{
	display: inline-flex;
	flex-wrap: wrap;
	margin-top:40px;
	margin-right: 60px;
	margin-left: 60px;
	text-align: center;
	font-size: 25px;
}




.container-child
{
	flex:1;
	border:1px solid white;
	background: black; 
	margin-right:40px;
    color:white;
    font-size: 20px;
}




#head2
{
	color:white;
	font-size: 45px;
	
}
#text
{
	margin-right: 20%;
	margin-left: 20%;
	color:white;
	font-size: 25px;
}


h6
{
	font-size: 30px;
}



#a
{
	color:white;
	font-size: 35px;
	margin-left: 40%;
    padding-top: 20%;
}
#text-3
{
	color:white;
	font-size: 25px;
	padding-top:10%;
	margin-left: 250px;
	margin-right: 250px;
}
#button3
{
	background-color: red;
	color:white;
	width:200px;
	height:50px;
	align-content: center;
	margin-left: 40%;
	margin-top: 50px;
}

.parent-container-1
{
	display:flex;
	color:white;
	font-size: 25px;
	align-content: : center;
}
.child-5
{
	border:1px solid white;
	margin-left: 300px;
	align-content: : center;
}
.child-6
{

	border:1px solid white;
	margin-left: 300px;
    align-content: center;

}

.child-7
{
	border:1px solid white;
	margin-left: 300px;
    align-content: center;
}
.page-4
{
	background-image: url(16.jpg);
	background-size: cover;
}

#b
{
font-size: 25px;
	margin-left: 40%;
	color:white;
}
#b-2
{
	margin-left: 40%;
	color:red;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display:flex;

}

.fa-facebook {
  background: black;
  color: white;
  flex:1;
}


.fa-twitter {
  background: black;
  color: white;
  flex:1;
}
.fa-instagram {
  background: black;
  color: white;
  flex:1;
}

.fa-whatsapp {
  background: black;
  color: white;
  flex:1;
}